<br>

<div class="row">
	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="Total-leaves">
			  	<div class="card-header">
			  		<h5 class="card-title">total leaves</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{total_leaves}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="Presents">
			  	<div class="card-header">
			  		<h5 class="card-title">presents</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{presents}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="Absensts">
			  	<div class="card-header">
			  		<h5 class="card-title">absensts</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{absensts}}</h3>
			  	</div>
			</div>
		</div>
	</div>
</div>

