#logo {}

body {
    background-color: #ebeff5;
}

#Total-leaves {
    background-color: #4cb4c7;
}

#Presents {
    background-color: #7abecc;
}

#Absensts {
    background-color: #7CD1C0;
}